.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.Prompt {
  font-size: 3rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  color: #a1a1a1;

}

.Search {
  color: #a1a1a1;
}

input {
  border: none;
  font-size: 3rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.App-link {
  color: #61dafb;
}

.Student {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px;
  border-radius: 0.5rem;
  color: #a1a1a1;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
}

.Document {
  vertical-align: top;
  align-items: left;
  justify-content: left;
  margin: 1rem;
  padding: 1rem;
  border: 1px;
  border-radius: 0.5rem;
  color: #a1a1a1;
  font-size: 20px;
  font-family: var(--font-raleway);
  font-weight: 500;
  display: inline-block;
}

.Document-saved {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  border-radius: 0.5rem;
  color: #a1a1a1;
  font-size: 3rem;
  font-family: var(--font-raleway);
  font-weight: 500;
}

.button-primary {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-primary:hover,
.button-primary:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-primary:hover {
  transform: translateY(-1px);
}

.button-primary:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


.student-list {
  display: inline-block;
}


.student-list button {
  color: #ffffff;
  background-color: #282c34;
  border: none;
}

.student-list button:hover {
  background-color: #000000;
  cursor: pointer;
}

.student-list h4 {
  font-weight: normal;
}

.student-list ul {
  list-style-type: none;
  padding: 0;
  height: 200px;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}


.student-list a {
  text-decoration: none;
}

.student-list a:hover {
  text-decoration: none;
}

.student-list a:visited {
  text-decoration: none;
  color: #ffffff;
}